/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/bam2tensor
 * -------------------------------------------------
 */

params.memory = 15g
params.cpus = 8

profiles {
  conda {
    process.conda = "$baseDir/environment.yml"
    conda.enabled = true
    params.enable_conda = true
    conda { createTimeout = "120 min" }
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test {
    timeline.enabled = false
    report.enabled = false
    trace.enabled = false
    dag.enabled = false
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

VERSION = '1.0.0'
DOI='doi'

manifest {
  name = 'TRON-Bioinformatics/bam2tensor'
  author = 'Ozlem Muslu'
  homePage = 'https://github.com/TRON-Bioinformatics/bam2tensor'
  description = 'bam2tensor'
  nextflowVersion = '>=24.10.3'
  version = 1.0.0
  doi = DOI
}
